<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <connectionStrings>
    <add name="default" connectionString="Server=localhost;Database=test;User ID=root; Password=mysql5.6"/>
  </connectionStrings>
</configuration>
